<?xml version="1.0" encoding="utf-8"?>
<manifest package="id.ac.ub.filkom.sekcv.appstroke"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/astech"
        android:label="Astech"
        android:supportsRtl="true"
        android:theme="@style/AppMainTheme">
        <!--<activity-->
            <!--android:name=".controller.MainPage"-->
            <!--android:label="@string/app_name"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name="id.ac.ub.filkom.sekcv.astech.controller.MainPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="id.ac.ub.filkom.sekcv.astech.controller.main_app.LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="id.ac.ub.filkom.sekcv.astech.controller.main_app.MainActivity"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="id.ac.ub.filkom.sekcv.astech.controller.main_app.SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="id.ac.ub.filkom.sekcv.astech.controller.main_app.About"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="id.ac.ub.filkom.sekcv.astech.controller.main_app.Help"
            android:label="Help"
            android:parentActivityName="id.ac.ub.filkom.sekcv.astech.controller.main_app.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.ub.filkom.sekcv.astech.controller.main_app.MainActivity" />
        </activity>
        <activity android:name="id.ac.ub.filkom.sekcv.astech.controller.main_app.HelpLogin"
            android:label="Help Login" />
        <activity android:name="id.ac.ub.filkom.sekcv.astech.controller.main_app.HelpPenggunaan"
            android:label="Help Penggunaan" />

        <!--activity launcher main sub app-->
        <activity android:name="id.ac.ub.filkom.sekcv.astech.controller.main_sub_app.Help"
            android:label="Help" />
        <activity
            android:name="id.ac.ub.filkom.sekcv.astech.controller.main_sub_app.MainPage"
            android:label="@string/launcher_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="id.ac.ub.filkom.sekcv.astech.controller.main_sub_app.Helppage"
            android:label="@string/appmedis_helppage_title"
            android:parentActivityName="id.ac.ub.filkom.sekcv.astech.controller.main_sub_app.MainPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.ub.filkom.sekcv.astech.controller.main_sub_app.MainPage"/>
        </activity>
        <activity
            android:name="id.ac.ub.filkom.sekcv.astech.controller.main_sub_app.AboutUsPage"
            android:label="@string/appmedis_aboutuspage_title"
            android:parentActivityName="id.ac.ub.filkom.sekcv.astech.controller.main_sub_app.MainPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.ub.filkom.sekcv.astech.controller.main_sub_app.MainPage"/>
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>